.bg-menu{
  /* linear-gradient é uma função que permite adicionar Grandiente/Degradê em uma reta no nosso Plano de Fundo */
  background: linear-gradient(36deg, #f0c25a 8%, #8f4b25 89%);
}

.container{
  display: flex;
  justify-content: space-between;
}

/* !important indica que essa propriedade é mais importante que as Estilizações Padrões do Material UI */
.title{
  font-weight: bold!important;
}

.text-decorator-none{
  text-decoration: none;
}