


.container{
  display: flex;
  justify-content: space-between;
}

/* !important indica que essa propriedade é mais importante que as Estilizações Padrões do Material UI */
.title{
  font-weight: bold!important;
}

.text-decorator-none{
  color: #ffffff;
  text-decoration: none;
}

